name: CI

on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          cache: true

      - name: Go fmt
        run: |
          test -z "$(gofmt -l .)"

      - name: Go test
        run: |
          go test ./...

      - name: Go build
        run: |
          go build -o syncerd ./main.go

